[2016-12-23 04:59] cschacht opened #1 "different query parameters"
Hi,
great stuff this!

I just wonder if you could include different query parameters for more accurate results? Like city ID; zip code or (better) geo coordinates?

Also is there a way to get other info returned by weathermap especially rain and wind data?

Regards
Christian

[2017-01-05 22:51] silvetti commented on #1
Also interested in this.

[2017-01-09 10:31] werthdavid commented on #1
Hey,

using a different query parameter should not be a problem, I'll check on that!

Returning different info than temperature is more problematic in my opinion. Homekit seems not to be offering sensors for that. I could adapt the plugin to return rain/wind data as temperature but as you might have noticed that Homekit always rounds the numbers (0.9km/h wind speed --> 0 "degrees"). Also "3h rain"

[2017-01-13 08:27] #1 closed, assigned to werthdavid

[2017-03-20 07:22] iRick92 opened #2 "Multiple Cities?"
Hi, Thank you for this plugin. It is working well.
Is it possible to add two cities using this plugin? I am suspecting there is something going wrong when there are two accessories named "Weather".

Thanks!

[2017-03-20 07:34] #2 closed, assigned to nobody

[2017-03-20 07:35] iRick92 commented on #2
Never mind. I was missing a comma :)

[2017-06-08 11:51] phenix13 opened #3 "It often breaks down after being update"
！！！

[2017-06-18 12:43] lnxbil commented on #3
Yepp, it does :-(

[code]

[2017-06-21 03:05] fabergoncalves commented on #3
Yeah, having the same problem here

[2017-06-28 22:21] sejoki opened #4 "Enhancement: High and low temperatures"
First of all, thank you for the plugin, it helps a lot to have some more information in HomeKit to base rules upon.

There's one thing I'm missing - daily high and low data. It would help a lot with some rules. For example, if it gets hotter than x degrees, water the plants for 10 minutes, if it's lower than x, turn on for 5 minutes. Or if it's warmer than y degrees, don't open the blinds in the m

[2017-07-03 11:51] Scream4Life commented on #3
Is this someting planned to be fixed? It happens all the time after a few seconds for me. Actually unusable.

[2017-07-03 13:03] friko21 commented on #3
This line in getStateHum is the problem:
                temperatureService.setCharacteristic(Characteristic.CurrentRelativeHumidity, this.humidity);

There he tries to bind CurrentRelativeHumidity to his temperatureService, with doesn't know anything about humidity.

[2017-07-15 13:45] werthdavid commented on #3
Will look into it!

[2017-07-15 13:45] werthdavid commented on #4
Sounds interesting, will check what I can do

[2017-07-16 20:17] werthdavid commented on #3
Should be fixed

[2017-07-16 20:17] #3 closed, assigned to werthdavid

[2017-07-31 09:32] gerritfries opened #5 "Temperature Sensor not showing in automation tab in Home App"
Thanks a lot for this plugin! I really like it a lot, since there is no need for a real sensor to check the temperature outside. The sensor is showing up at the Room i created, but I can't use it for automation purpose in Home App - the sensor option is still greyed out. I thought it would act like an actual sensor so I could make an automation like "temperature >30°C close blinds".

[2017-08-01 10:06] werthdavid commented on #5
Hey,

I have to check on that. Will see what I can do.

[2017-08-02 07:16] werthdavid commented on #5
Atm I don't have an iPad running at iOS 10 or an Apple TV so it's kinda hard to say when I can do further investigation on that topic...

[2017-08-02 08:24] gerritfries commented on #5
Thank you so far! It seems it's not supported by Apple's Home App. With "Elgato Eve" everything works as expected.

[2017-08-02 08:24] #5 closed, assigned to nobody

[2017-08-02 08:26] friko21 commented on #5
This was discussed here:
https://github.com/KhaosT/HAP-NodeJS/issues/375

It looks like an mistake in Home app.

[2017-08-02 08:29] #4 closed, assigned to nobody

[2017-09-23 19:33] klebermagno opened #6 "Information"
This only show the temp ?
Can't trigger a scene ?

[2017-09-25 17:33] werthdavid commented on #6
Hey,
can't answer that atm sorry, I don't have an AppleTV or iPad... Will ask my colleague if he can test it with his setup.

[2017-10-03 00:32] phenix13 opened #7 "Bridge collapse"
Breaking the internet due the bridge to collapse, sometimes there are no networks at home,but wifi is still well, lots of equipment work well,but when need to update temperature date,the bridge will collapse.

[2017-10-11 15:47] werthdavid commented on #7
Will check on that

[2017-10-11 16:10] werthdavid commented on #7
Can't reproduce that issue, can you provide a log-output of homebridge?

[2017-11-15 09:02] werthdavid commented on #6
Using Hesperus App you can trigger scenes!

[2017-11-26 10:45] praestater opened #8 "showHumidity not working!"
Have look at index.js
...
function WeatherAccessory(log, config) {
   ...
    this.showHumidity = config["showHumidity"] || true; <---
that is always true!

[2017-12-08 17:35] werthdavid commented on #8
Gosh that was stupid... thank you, will fix that!

[2017-12-08 17:48] #8 closed, assigned to werthdavid

[2018-01-15 15:42] futuretap opened #9 "No polling?"
Looks like the plugin doesn't work as a source for trigger rules. I created a rule that switches on a heater when it's too cold. That rule is only executed when I open the Home app, but not in the background.

This actually works with the `homebridge-wunderground` plugin which has a configurable polling interval.

Can you add a polling mechanism as well?

[2018-01-16 13:04] werthdavid commented on #9
I'll check out that plugin as soon as I have some spare time

[2018-01-16 14:02] #9 closed, assigned to werthdavid

[2018-01-16 16:58] futuretap commented on #9
Thanks for the quick implementation, looks good!

[2018-01-17 11:37] futuretap opened #10 "Crash"
The plugin (version 1.4.0) just crashed with this backtrace:

[code]

[2018-01-19 10:22] werthdavid commented on #10
Could you provide your according conifg?

[2018-01-19 10:22] werthdavid commented on #7
Will close the issue

[2018-01-19 10:22] #7 closed, assigned to werthdavid

[2018-01-19 11:32] futuretap commented on #10
[code]

[2018-01-19 12:10] werthdavid commented on #10
Should be fixed in 1.4.1

[2018-01-19 12:10] #10 closed, assigned to werthdavid

[2018-01-23 18:01] honkmaster opened #11 "Different names for Temperature and Humidity"
Would it be possible to add a configuration option to have different names for the temperature and humidity sensor? Would be very useful. Thanks.

[2018-01-24 11:35] werthdavid commented on #11
Please test with the latest version (1.5.0)

[2018-01-24 11:43] honkmaster commented on #11
Man, you are quick. Will try it this evening. Danke.

[2018-01-24 18:23] honkmaster commented on #11
Works as expected.

[2018-01-24 18:23] #11 closed, assigned to werthdavid

[2018-01-28 12:27] cuiyihaohao opened #12 "not working"
I've got some errors using this project lately.
![qq 20180128202010](https://user-images.githubusercontent.com/30082667/35481950-acb840c2-0468-11e8-8714-93bd39ba92c5.png)。

[2018-01-28 12:28] cuiyihaohao commented on #12
![qq 20180128202518](https://user-images.githubusercontent.com/30082667/35481999-a870173c-0469-11e8-841d-b852077b2295.png)
config.json

[2018-01-29 22:12] honkmaster opened #13 "Enhancement: Add history to weather sensors"
Using `fakegato-history`, you can simply add a history functionality to your sensors. The history, then will be available in the Elgato Eve App. I first seen this feature in `homebridge-dht`, and really like it.

See: https://github.com/simont77/fakegato-history

[2018-01-30 09:30] werthdavid commented on #13
I can try to include it but won't be able to test it

[2018-01-30 12:18] honkmaster commented on #13
Would be really appreciated. I will test it surely, additionally I'm looking into node.JS myself. Next time I will submit a PR :).... Greetings.

[2018-01-30 12:49] #6 closed, assigned to nobody

[2018-01-30 12:50] werthdavid commented on #13
Can you try it with the latest version (1.6.0) and let me know if it works?

[2018-01-30 13:03] werthdavid commented on #12
In your config you are 'missing' an accessory with the type **current**. At this point, min and max only work if you also define a sensor for the current temperature. Would it be a problem for you to add that?

[2018-01-30 14:05] honkmaster commented on #13
It does not seem to work. I used:

[code]

Maybe there is an error in line 186. I don't know if `temperature: temperature` is valid, as the sample uses `temp: `, see:

`  this.loggingService.addEntry({time: moment().unix(), temp:this.temperature, pressure:this.airPressure, humidity:this.humidity});`

Maybe you can compare with `homebridge-dht`: https://github.com/NorthernMan54/homebridge-dht/blob/

[2018-01-30 14:32] werthdavid commented on #13
Good point... maybe now?

[2018-01-30 15:15] cuiyihaohao commented on #12
thank you very much.But I try to modify config.json like you said, but still have the same bug.
![qq 20180130231344](https://user-images.githubusercontent.com/30082667/35573939-7230f9ce-0613-11e8-85c5-74ccb687a5c6.png)

![qq 20180130230503](https://user-images.githubusercontent.com/30082667/35573759-edaddf78-0612-11e8-9b31-b724db0947af.png),

[2018-01-30 15:23] honkmaster commented on #13
It is working. Thanks. One minor issue, the first value for temp is zero degrees.

![img_7989](https://user-images.githubusercontent.com/1380397/35574322-ca0b8d9c-05d9-11e8-844e-0bf44bb68940.PNG)

[2018-01-30 15:31] honkmaster commented on #13
Same is true after a restart of `homebridge` (for both tamp and humidity). Maybe only report valid data from cache.

![img_7990](https://user-images.githubusercontent.com/1380397/35574751-ef0a515e-05da-11e8-824e-b9c4fdccf5e7.PNG)

[2018-01-30 16:57] werthdavid commented on #13
Should be fixed with 1.6.2

Cool feature actually!

[2018-01-30 17:01] werthdavid commented on #12
Did you install the latest version (currently 1.6.2) yet? Could you please parse the config here, so I can copy it. Thanks

[2018-01-30 17:36] werthdavid commented on #13
@honkmaster could you please test if it still works with 1.6.3? Don't know how homebridge behaves with potential undefined values...

[2018-01-30 18:40] honkmaster commented on #13
There is no initial jump in the graph, seems to work. If you want, i can provide a screenshot after logging has taken place for a few days ...

[2018-01-31 03:34] cuiyihaohao commented on #12
Thanks for your patience.yeah,i install the latest version today,but there are still the same mistakes.

  "accessories":[
    {
      "accessory":"Weather",
      "apikey":"***",
      "locationById": "1796236",
      "name":"Current Temp",
      "nameHumidity":"Current Humidity",
      "pollingInterval":"10",
      "type":"current"
    },
    {
      "accessory":"Weather",
      "apikey":"***",

[2018-01-31 06:44] werthdavid commented on #13
Yes please, that would be cool! Thanks

[2018-01-31 07:05] werthdavid commented on #12
That's weird... when I paste your config it works just fine with my setup.
The problem seems to be that the response is not in the correct format.
Can you try removing the max-sensor from the config and see what happens?

[2018-01-31 08:46] martinnock commented on #12
Do you get this error both in locationbycoordinates and locationbyid mode?

[2018-01-31 08:47] #13 closed, assigned to werthdavid

[2018-01-31 15:32] cuiyihaohao commented on #12
yeah, i think you are right. I try to remove the max -sensor. But there are still errors.
 temperature= parseFloat(this.cachedWeatherObj["list"][0]["temp"]["min"]);
 TypeError: Cannot read property '0' of undefined
...
 i cant understand why it runs perfectly on your device.I try to solve the problem by reloaded the system.But the it never worked if i added the "max" or "min".
thank you

[2018-01-31 15:56] werthdavid commented on #12
Please add the min- and max-sensors again and update to the latest version 1.6.4. I've added a debug output that logs the server-response.

After the Bridge has crashed, please provide the [homebridge.log](https://github.com/nfarina/homebridge/wiki/Basic-Troubleshooting)

[2018-01-31 17:38] cuiyihaohao commented on #12
thank you very much . The problem has been solved by reading the homebridge.log. API is invalid.I changed it and the project worked very well.Thanks again for your patience

[2018-01-31 17:38] #12 closed, assigned to nobody

[2018-02-01 08:37] werthdavid commented on #13
![eve-example](https://user-images.githubusercontent.com/4696067/35668836-601c4a10-0733-11e8-982e-fa2a406a46e7.jpg)

Got one :wink: But thanks!
Really cool feature!

[2018-03-04 02:52] nwoodman opened #14 "Can't get max or min temp"
A very handy app however.  Thee "current" temp works a treat however I can't get "max" or "min" temps to work

/home/nigel/.npm-global/lib/node_modules/homebridge-weather/index.js:157
                    temperature = parseFloat(this.cachedWeatherObj["list"][0]["temp"]["min"]);
                                                                          ^

TypeError: Cannot read property '0' of undef

[2018-03-04 11:51] werthdavid commented on #14
Can you provide your config please? Make sure to remove the API-key before posting it though 😉

[2018-03-04 11:53] nwoodman commented on #14
Here it is.  Changing current to max gives rise to the error

[code]

[2018-03-05 09:30] werthdavid commented on #14
Can you please try it with the following config (after changing the API-key) and tell me what happens

[code]

[2018-03-05 09:42] nwoodman commented on #14
Thanks David.,

This is what I got back

[2018-3-5 20:40:54] [Aktuell] Fetched temperature 17 of type current for Aktuell
[2018-3-5 20:40:54] [Aktuell] Fetched humidity 48 of type current for Aktuell
[2018-3-5 20:40:54] [Aktuell] Fetched temperature 17 of type current for Aktuell
[2018-3-5 20:40:54] [Aktuell] Fetched temperature 17 of type current for Aktuell
[2018-3-5 20:40:54] [Aktuell] Fetched

[2018-03-05 09:47] werthdavid commented on #14
Please update your config again

[code]

And then enable debugging according to [the docs](https://github.com/nfarina/homebridge/wiki/Basic-Troubleshooting). I would then need the log file that can be found in /var/log/homebridge.log

[2018-03-05 10:10] nwoodman commented on #14
OK I think that was a very helpful exercise

I ran

DEBUG=* homebridge -U ~/.homebridge2 -D

Unfortunately it didn’t write a log file but it did do a screen dump

The full dump is below, but I did glean this line from it

[2018-3-5 20:59:08] [Max] Server response: {"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."}
/home/nigel/.npm-global/lib

[2018-03-05 10:13] werthdavid commented on #14
Okay no problem.
Did you sign-up [here](https://openweathermap.org/appid)?

[2018-03-05 10:15] nwoodman commented on #14
Just on their site now.  Looks like I signed up for current weather data only but will try and subscribe to the 5 day forecast.  It all makes sense now 😊.

Cheers

Nigel

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Werth <notifications@github.com>
Sent: Monday, March 5, 2018 9:13:12 PM
To: werthdavid/homebridge-weather

[2018-03-05 10:19] nwoodman commented on #14
Actually it doesn’t make sense, my API seems to work when I append it to their URL

http://api.openweathermap.org/data/2.5/forecast?id=524901&APPID=***

I will blow up this API after we figure it out, hence the post above

cheers

Nigel

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Werth <notifications@github.com>
Sent:

[2018-03-05 10:27] werthdavid commented on #14
Interesting.... Actually the Plugin uses a slightly different URL. Its not /forecast but /forecast/daily. This doesn't work with your API-Key but with mine it does work.

[2018-03-05 10:28] nwoodman commented on #14
Sweet, is there a work around?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Werth <notifications@github.com>
Sent: Monday, March 5, 2018 9:27:47 PM
To: werthdavid/homebridge-weather
Cc: Nigel Woodman; Author
Subject: Re: [werthdavid/homebridge-weather] Can't get max or min temp (#14)

Interesting.... Actually the Plugi

[2018-03-05 10:30] werthdavid commented on #14
Working on it!

[2018-03-05 10:32] nwoodman commented on #14
Cheers these might be helpful

https://github.com/openhab/openhab1-addons/issues/5309

https://community.openhab.org/t/weather-binding-api-key-error-with-openweathermap/38078

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Werth <notifications@github.com>
Sent: Monday, March 5, 2018 9:27:47 PM
To: werthdavid/homebridge-we

[2018-03-05 10:57] werthdavid commented on #14
I just published 1.7.0, please test if it works.
I still don't understand why it works with my API key (I have a free plan) and nobody was complaining before....

[2018-03-05 22:57] nwoodman commented on #14
Yep, worked a treat.  Thanks so much

Cheers

Nigel

From: David Werth <notifications@github.com>
Sent: Monday, 5 March 2018 9:57 PM
To: werthdavid/homebridge-weather <homebridge-weather@noreply.github.com>
Cc: Nigel Woodman <nwoodman@carnot.com.au>; Author <author@noreply.github.com>
Subject: Re: [werthdavid/homebridge-weather] Can't get max or min temp (#14)

I just published 1.7.0, please test

[2018-03-06 05:37] #14 closed, assigned to werthdavid

[2018-03-12 08:18] werthdavid commented on #14
@nwoodman there was still an error with max/min, please update to 1.7.1 otherwise min/max is shown not for today but for the next 5 days

[2018-03-12 11:24] nwoodman commented on #14
Awesome, its been hot in Oz, so the numbers seemed right.  Thanks for taking time out to let me know

Regards
Nigel Woodman
Mb:0408108018

On 12 Mar 2018, at 7:19 pm, David Werth <notifications@github.com<mailto:notifications@github.com>> wrote:

@nwoodman<https://github.com/nwoodman> there was still an error with max/min, please update to 1.7.1 otherwise min/max is shown not for today but for the

[2018-03-20 10:45] honkmaster opened #15 "Crash (JSON)"
The current version crashed with the following backtrace:

[code]

[2018-03-20 10:46] honkmaster commented on #15
My config

[code]

[2018-03-25 18:11] werthdavid commented on #15
Could you please enable debugging according to [the docs](https://github.com/nfarina/homebridge/wiki/Basic-Troubleshooting). I would then need the log file that can be found in /var/log/homebridge.log

Seems like the server is giving an invalid response here

[2018-03-26 18:06] honkmaster commented on #15
Thats all I have, it is from homebridge.log. Today happended another crash:

[code]

[2018-03-27 18:35] werthdavid commented on #15
I'm wondering why the log doesn't contain the server response.. (index.js:142).
Is the problem always happening or from time to time?

[2018-03-27 19:54] honkmaster commented on #15
It is happening from time to time, at least weekly.

[2018-03-28 07:06] milanBalan commented on #15
Hi,
I am having the same issue recently, it's happening a couple times peer week and everytime restarts also homebridge process ...
[code]

[2018-03-28 07:45] werthdavid commented on #15
Since I'm not able to reproduce the issue and the logs are not very informative, I added some logic to handle the exceptions so that homebridge should not crash anymore. Also the log file should contain more helpful information.
This doesn't solve the root-cause (why the server sends invalid data) though. I will close the issue anyway and hope that the plugin is more stable. If somebody could chec

[2018-03-28 07:45] #15 closed, assigned to werthdavid

[2018-03-28 11:01] milanBalan commented on #15
I'll test it and when issue occur again I can post logs here, thanks a lot for "crash" correction, as this was mine main issue.

[2018-04-01 16:58] sejoki opened #16 "Enhancement: Noon value"
Thanks for adding the high/low forecast. I have yet another idea for an enhancement, may be a little harder to implement though.

I recently upgraded my window shades to be motorized and HomeKit controlled. So far, they’re pretty dumb - they go up in the morning and down when the sun sets. I’ve been thinking about adding a light sensor to the mix, but I know from experience that it gets pretty ann

[2018-04-01 19:24] werthdavid commented on #16
I like the idea! Give me a little bit time to think about it but I think I'd like to go with the humidity sensor so it will publish a value between 0 and 100%. Or do you see any advantages of temperature between 0 and 180?

[2018-04-02 10:18] werthdavid commented on #15
While implementing #16 I think I found the issue of this. Should be fixed with the next release!

[2018-04-02 10:20] werthdavid commented on #16
Please try with 1.8.0

[2018-04-02 14:09] sejoki commented on #16
Wow, that was quick! Works perfectly at least with my tests so far (by the way, trying to switch on a light bulb with a 1% increment takes waay longer than expected). Now in theory, I can leave the blinds shut in the morning and raise them once the sun has passed my building, I'll see tomorrow.

I'm pretty lazy (well, I guess we all are, or we wouldn't spend any effort on home automation) and usua

[2018-04-03 07:15] #16 closed, assigned to werthdavid

[2018-04-09 08:19] rgerr opened #17 "Install issue"
Receiving the following error when installing the plug-in with sudo npm install -g homebridge-weather (also with —unsafe perm).

npm ERR! Linux 4.14.30-v7+
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "-g" "homebridge-weather"
npm ERR! node v7.10.1
npm ERR! npm  v4.2.0
npm ERR! file /root/.npm/homebridge-weather/1.8.0/package/package.json
npm ERR! code EJSONPARSE

npm ERR! Failed to pa

[2018-04-09 10:28] werthdavid commented on #17
[From stackoverflow](https://stackoverflow.com/questions/24920142/package-json-must-be-actual-json-not-just-javascript):

Just type `npm cache clean` on prompt and all the things must to work again.

[2018-04-09 11:59] rgerr commented on #17
Managed to install it anyway via sudo -E -n npm install homebridge-weather@latest. Thanks!

[2018-04-09 11:59] #17 closed, assigned to nobody

[2018-04-19 15:30] liangliangyy opened #18 "error"
body: '{"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."}' } {"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."}

[2018-04-20 03:46] #18 closed, assigned to nobody

[2018-05-08 09:59] milanBalan commented on #15
Hi, as promised last time, here complete stack trace for error "Cannot read property 'temp'"

[code]

[2018-05-08 11:01] werthdavid commented on #15
Thank you..
Internal error hmmm.. Did the homebridge crash? Should we reopen the issue?

[2018-05-08 11:54] milanBalan commented on #15
no, no crash, so no need to re-open this issue,
Thanks.

[2018-05-08 12:16] werthdavid commented on #15
Ok awesome thank you 😄

[2018-06-08 02:49] kbiswell opened #19 "Temperature options"
Is there a way to display the temperature in degrees F instead of C?

[2018-06-08 09:47] werthdavid commented on #19
Currently not.. I will implement it when I find time, maybe this weekend

[2018-06-08 13:59] kbiswell commented on #19
That would be great. Thank you.

[2018-06-11 05:46] werthdavid commented on #19
Please test with latest 1.9.0 by adding
"unit": "imperial"
to your config

[2018-06-11 16:10] kbiswell commented on #19
Works perfectly. Thank you

Sent from my iPhone

On Jun 11, 2018, at 12:46 AM, David Werth <notifications@github.com<mailto:notifications@github.com>> wrote:

Please test with latest 1.9.0

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/werthdavid/homebridge-weather/issues/19#issuecomment-396128660>, or mute the thread<h

[2018-06-11 16:11] #19 closed, assigned to werthdavid

[2018-06-24 00:44] intrepidsilence opened #20 "Unit Imperial - not correct"
I am using imperial units as spelled out in the docs but the value is too high (currently reading 183).  Any ideas why this is happening?

[2018-06-25 05:41] werthdavid commented on #20
With my location it works fine.. Can you please paste your config here? Remember to remove the API-key when you paste it

[2018-06-26 10:29] intrepidsilence commented on #20
{
            "accessory": "Weather",
            "apikey": "XXXXXXXXXXXXXXXXXXXXXXX",
            "locationById": "4472687",
            "unit": "imperial",
            "name": "Outside Temp"
        }

[2018-06-27 07:58] werthdavid commented on #20
Okay I've found the problem... It seems that your device is set to Fahrenheit. Then the Homebridge returns value as Fahrenheit. HomeApp now converts the unit AGAIN. So what you have to do is just remove the unit-setting in your config, HomeApp will take care of everything else. I'll update the Readme.
Your config should look like this:

[code]

[2018-06-27 08:02] #20 closed, assigned to werthdavid

[2018-06-27 10:21] intrepidsilence commented on #20
Thant works thanks. I swear it was not working when I first installed it and that was why I added the imperial flag. Oh well. Sorry for the confusion.
On Jun 27, 2018, 04:02 -0400, David Werth <notifications@github.com>, wrote:

[2018-08-22 13:08] ghost commented on #18
Hi, how did you solve this issue? I'm using an API key copied from `https://home.openweathermap.org/api_keys` and pasted into my config.json under the `apikey` key. It gives me the same error you had.

[2018-08-22 13:19] ghost commented on #18
Hmm, it fixed itself

[2019-06-18 07:05] Catta1997 opened #21 "iOS 13"
with ios 13 humidity and temperature are grouped. is it possible to group all together? it is sufficient to have the same serial number

[2019-07-24 06:56] werthdavid commented on #21
thanks for the info, I'll do that

[2019-07-25 05:29] werthdavid commented on #21
Please try the latest version, I'm curious if it works :)

[2019-07-25 09:52] Catta1997 commented on #21
Unfortunately no, maybe iOS checks something else or maybe there is a limit of one humidity sensor on each group

[2019-07-26 04:42] werthdavid commented on #21
hm have you seen any other homebridge-plugin that supports it where I could look into the code?

[2019-08-28 23:55] ddong3000 opened #22 "Issues after Elgato Eve app update Ver3.8.1"
Temperature profile with Elgato Eve App feature is disabled
please check
My iOS is ios13.1 public beta

[2019-09-02 08:44] werthdavid commented on #22
https://github.com/simont77/fakegato-history/issues/76

[2019-09-02 08:50] werthdavid commented on #21
Grouping seems to automatically happen based on how many "services" one accessory publishes. Sorry, don't see any possibility to help with that

[2019-09-02 08:50] #21 closed, assigned to werthdavid

[2019-10-03 19:45] timwegenerDE opened #23 "Split Temperature and Humadity in two Devices"
Das Plugin funktioniert super, bin begeistert :)

Ich würde mir gerne die Luftfeuchtigkeit und die Temperatur jeweils als einzelnes Gerät darstellen lassen, damit ich die Werte direkt in der Home-Übersicht sehe; Aktuell steht hier nur „2 Sensoren“. Am einfachsten wäre wohl eine Option in der config:
`showtemperature:false`. Hiermit ließe sich ein Gerät zur Temperatur uns eins für die Luftfeuchtigk

[2019-10-04 06:10] werthdavid commented on #23
Ja seit iOS 13 ist das sonst ein bisschen umständlich.. sollte kein Problem sein ich kümmere mich darum

[2019-10-04 07:08] werthdavid commented on #23
bitte mit 1.11.0 versuchen ;-)

[2019-10-04 07:27] timwegenerDE commented on #23
Funktioniert auf Anhieb!

Super - Danke für die schnelle Umsetzung :)

[2019-10-04 07:27] #23 closed, assigned to werthdavid

[2019-10-04 15:37] dewoert opened #24 "Error with newest version"
Installed the newest version today, and receiving following errors when starting HomeBridge now:
[code]

[2019-10-04 16:04] dewoert commented on #24
Nevermind.
Saw that i had to update NPM. After that update, things a working fine again.
Thanks for the update !

[2019-10-04 16:04] #24 closed, assigned to nobody

[2019-10-04 21:06] werthdavid commented on #23
https://www.iphone-ticker.de/ios-13-2-homekit-wieder-mit-separaten-kacheln-147865/

[2019-10-13 17:41] raphaeldavid opened #25 "Wind speed"
What is the method for having wind speed?
or create a switch when the speed exceeds a certain value

Thank,

[2019-10-15 06:03] #25 closed, assigned to werthdavid

[2019-11-02 13:57] ExhaleSthlm commented on #22
Hi!
The Windspeed seems broken, looking at the code there seems to be a cut and paste error:

if (this.type === "windspeed") {
                this.getStateSun(function (error, value) {
                    if (!error && value != null) {
                        humidityService.setCharacteristic(Characteristic.CurrentRelativeHumidity, value);
                    }
                }.bind(this));

[2019-11-02 16:43] werthdavid commented on #22
Yes you are right.. will fix that ASAP!

[2019-11-04 10:21] werthdavid commented on #22
It should work now with 1.12.1

[2019-11-26 01:15] sotoje opened #26 "Log in eve APP"
Hi
The historical data is not saved since one day ago.

I have defined polling and enable history vars.

I split temp and humidity in two sensors like this
60
        },
        {
            "accessory": "Weather",
            "apikey": "xxxxxxxx",
            "location": "Xxxxxc",
            "name": "Temperatura Exterior",
            "showHumidity": false,
            "pollingInterval": 10,

[2019-12-15 21:14] thoschworks opened #27 "Windspeed is still broken"
As mentioned in issue #22 (in [this comment](https://github.com/werthdavid/homebridge-weather/issues/22#issuecomment-549046238)) winspeed is (still) broken.

    if (!error && value != null {humidityService.setCharacteristic(Characteristic.CurrentRelativeHumidity, value);

In version 1.12.1 the broken line 111 is still unchanged.

Regards

Thomas

[2019-12-16 19:18] werthdavid commented on #27
Am I this stupid? Will fix it tmrw!

[2019-12-17 10:22] werthdavid commented on #27
Ok so the Code is correct.
The value in line 109 is taken from `getStateWindspeed`
It is published as Humidity-sensor. Does that cause any problems? I don't know if there is a dedicated wind-speed sensor

[2019-12-17 14:20] thoschworks commented on #27
First I was confused cause it is shown as humid sensor. But if this is intended...

At the beginning I got zero values. Now I get - sometimes* - values, but I don't know how to interpret a ~~humidity~~ windspeed of 91%.  🤔

* It looks like Open Weather Map isn't very reliable on broadcasting windspeed-data.

[2019-12-17 19:22] werthdavid commented on #27
Okay.. have you taken a look at the OWM Api on how to interpret the values? The (metric) unit is meter/second. So 91% would be 91meter/second I would say. Does that make sense? Any suggestions on what would fit more than humidity?
Here is a list of available services besides humidity:
https://github.com/KhaosT/HAP-NodeJS/blob/master/src/lib/Service.ts

Problem with humidity is that it's maximum va

[2019-12-17 20:09] thoschworks commented on #27
No, 91m/s doesn’t make any sense. 12 Beaufort, the highest value of the [Beaufort scale](https://en.wikipedia.org/wiki/Beaufort_scale), is defined by a windspeed of more that 32.92 m/s.

Next weekend I will take a look into the documentation.

[2019-12-18 06:30] werthdavid commented on #27
Okay I see.. OWM API states the following:

[2019-12-18 06:31] werthdavid commented on #26
Duplicate of #22

[2019-12-18 06:31] #26 closed, assigned to nobody

[2019-12-29 13:41] appliko opened #28 "Cloudiness reported as Humidity"
In general it works well but Cloudiness is reported as Humidity. This makes it unusable for status message
Is it an issue or something can be fixed by configuration ?

My configuration entry is

      "accessory" : "Weather",
      "name" : "Cloudiness",
      "type" : "clouds",
      "location" : "my city",
      "apikey" : "my api key"

Thanks

[2020-01-03 15:49] werthdavid commented on #28
Hey there,
the problem is that homebridge/HAP doesn't offer a sensor for cloudiness. therefore I used a humidity-sensor that provides the cloudiness data. what exactly are you trying? I'm not sure what you mean by "status message"..

[2020-01-03 20:18] appliko commented on #28
I mean status message on main panel of Home app on iOS

[2020-01-03 21:56] jchristianj opened #29 "Cloudiness is steady at 75%"
For the last few days or maybe one week the cloudiness value is 75% all the time... sometimes it updates to another value, but in most cases when I look it up it is 75% which does not reflect the actual status of the sky in my location.
Is there any issue with fetching the value for cloudiness? All other data is polled correctly and updates / changes. See log file:

[Homebridge] [1/3/2020, 22:50:2

[2020-01-04 08:15] appliko commented on #28
Ok, understood, just removed from status - thanks !

[2020-01-04 08:15] #28 closed, assigned to nobody

[2020-01-05 10:54] thoschworks commented on #27
I looked into the [service-definitions](https://github.com/KhaosT/HAP-NodeJS/blob/master/src/lib/Service.ts) and it looks like HomeKit doesn't know the strange concept
 of air-motion called "wind". 👿

As mentioned a windspeed of 91 doesn't make sense in these days. Perhaps a decade later. 😈

I decided to ignore the windspeed. 🤷‍♂️

[2020-01-05 10:54] #27 closed, assigned to werthdavid

[2020-01-08 07:19] werthdavid commented on #29
Can you provide the Log with debugging enabled?
See [here](https://github.com/nfarina/homebridge/wiki/Basic-Troubleshooting)

[2020-01-08 09:19] jchristianj commented on #29
Hi! I’m running the plugin on hoobs. Not sure how to get logs in debug mode there...

[2020-01-08 20:56] werthdavid commented on #29
Oh wow I didn't know hoobs did exist.

Here is a link with some information:

https://github.com/hoobs-org/HOOBS/wiki/6.2-Command-Line-Interface

[2020-01-10 10:36] jchristianj commented on #29
Thanks, David.
Sorry, cannot get detailed logs from hoobs. It is not giving more details when using the command line interface, there is something in my network preventing getting the logs more detailed. Yeah, hoobs is the right thing for me as it makes homebridge usable even for dummies like me...
Anyhow, in the last few days I compared the cloudiness value which is read from your plugin with the

[2020-01-11 08:46] werthdavid commented on #29
Oh okay thanks for the information. How do you find your location? I could imagine that is you use lat/lon that the values are not always as reliable as if you use a city. I'm not sure if there is a list of the actual weather stations around you

[2020-01-11 08:49] werthdavid commented on #29
https://openweathermap.org/weathermap?basemap=map&cities=true&layer=temperature&lat=48.9315&lon=9.4098&zoom=10

When I look at the map almost all cities in South Germany give me 75% cloudiness.... In the north it shows 90% sometimes. I have no idea where those values come from though

[2020-01-11 09:26] jchristianj commented on #29
It's odd, in my location it is mostly 75% or 90%... nothing in between, very seldom below or above.
I am using the LocationByCoordinates parameter. For testing I changed to location to city name, it made no difference.

[2020-01-12 09:41] #29 closed, assigned to werthdavid

[2020-04-30 16:53] werthdavid commented on #22
homebridge-weather@1.12.2

[2020-04-30 16:53] #22 closed, assigned to werthdavid

[2020-05-04 09:15] Julien-Molina opened #31 "Wind sensor doesn't work"
I don't know why but my wind sensor is not showing any data.

Here is my configuration for this sensor :
{
            "accessory": "Weather",
            "apikey": "**********",
            "location": "Paris,fr",
            "name": "Wind",
            "type": "windspeed"
}

Logs :
[Wind] Server response: {"cod":"200","message":0,"cnt":40,"list":[{"dt":1588593600,"main":{"temp":18.24,"feels_like

[2020-05-06 09:15] werthdavid commented on #31
You are absolutely right!

[2020-05-06 09:17] werthdavid commented on #31
Please try with homebridge-weather@1.12.3

[2020-05-06 09:17] #31 closed, assigned to werthdavid

[2020-05-06 10:50] Julien-Molina commented on #31
It works very well now. Thanks a lot.

[2020-05-15 21:54] mimes123 opened #32 "Windspeed shows as % and not m/s"
my sensor for windspeed shows up like humidity in HomeKit and not as m/s how do i change that ? i used the config examples in the description and used Type: windspeed

[2020-05-16 06:32] werthdavid commented on #32
Yes that’s right. The problem is that home bridge or actually HomeKit doesn’t come with an accessory for type wind speed or any other accessory that displays m/s. So instead I used a humidity sensor that shows the m/s value as %...

[2020-05-16 06:40] mimes123 commented on #32
So it can’t be changed ?

[2020-05-17 07:36] werthdavid commented on #32
Not at this point. Maybe HomeKit will change but for now I can’t do anything.

[2020-05-17 07:36] #32 closed, assigned to nobody

[2020-06-17 11:06] jchristianj opened #34 "Failed to update to 1.12.3 on Hoobs"
Hi,
Hoobs is indicating that an update is available, but upon installation the log shows:

...
17.6.2020, 12:58:27 - npm
17.6.2020, 12:58:27 -  ERR! code EEXIST
npm ERR! path /home/hoobs/.hoobs/node_modules/gtoken/node_modules/.bin/mime
17.6.2020, 12:58:27 - npm
17.6.2020, 12:58:27 - ERR! Refusing to delete /home/hoobs/.hoobs/node_modules/gtoken/node_modules/.bin/mime: is outside /home/hoobs/.hoob

[2020-06-25 10:26] werthdavid commented on #34
I don't have a Hoobs installation but I'll see what I can do

[2020-06-26 10:26] jchristianj commented on #34
Thanks a lot. If I can support you with logs or other stuff let me know.

[2020-07-02 07:14] werthdavid commented on #34
Are you sure this comes from the homebridge-weather plugin?

[2020-07-02 07:54] jchristianj commented on #34
Think so. It only happens when I try to update the weather plugin.
Maybe it happens in hoobs because of a different plugin handling? If necessary I can check with the hoobs support people on Facebook or so.

[2020-07-03 15:03] werthdavid commented on #34
That would be great. I am right that you can download Hoobs only if you pay?

[2020-07-03 15:16] jchristianj commented on #34
No it's free: https://github.com/hoobs-org/HOOBS/releases
3.2.6 is the version I have installed. Just flash an SD card with it (use Balena Etcher tool), put it in your Pi to set it up and then you can install homebridge plugins.

[2020-07-09 09:50] jchristianj commented on #34
Posted for help on Facebook, but only recommendation was to use another (hoobs certified) weather plugin, which I refused, because I like the simplicity of yours and don't want to re-arrange my home automations.
Without knowing what I was doing I desperately connected by terminal to hoobs, googled some commands, navigated to the folder where the non-deletable file has been located, and removed it

[2020-07-09 11:20] werthdavid commented on #34
Okay interesting... sorry for the inconvenience, glad it works finally. Don’t have the time at the moment for setting up hoobs in my raspberry...

[2020-07-10 06:17] #34 closed, assigned to werthdavid

[2020-10-03 19:32] lowrents opened #36 "Get Error Code 401: Invalid API Key"
Hello

I installed homebridge-weather today, unfortunately it doesn't work properly. The homebridge log says:
`body: '{"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."}',`

I monitor homebridge using pm2, running homebridge v1.1.6 and node v12.18.4
**plugins:**
homebridge-hue@0.11.76
homebridge-wol@4.3.0
homebridge-weather@1.12.4

I signed u

[2020-10-04 07:12] lowrents commented on #36
SOLVED!
how dumb... I think it was a bit too late yesterday.
I misplaced the underscore in config.json file... so that's why the API key could not be read and was passed as "undefined" to the URL.

[2020-10-04 07:12] #36 closed, assigned to nobody

[2020-10-07 11:43] werthdavid commented on #36
Glad I could help... 😆

[2020-10-08 06:56] lowrents commented on #36
Thank's a lot 😁 great tool btw

[2021-02-22 06:10] dVIAN13 opened #37 "Warning: 'This plugin slows down Homebridge' in log"
Hello,

After upgrading to Homebridge 1.3.0, I recently discovered the following in my log files.

`[2/21/2021, 10:04:17 PM] [homebridge-weather] This plugin slows down Homebridge. The read handler for the characteristic 'Current Temperature' was slow to respond! See https://git.io/JtMGR for more info.
[2/21/2021, 10:04:17 PM] [homebridge-weather] This plugin slows down Homebridge. The read handle

[2021-02-22 09:49] werthdavid commented on #37
Oh wow, that's new. I have to adjust the code accordingly

[2021-02-22 12:23] werthdavid commented on #37
Hmm I'm not sure if I can fix that at all.
The problem is that homebridge, when it triggers a plugin to deliver data, expects those values "fast". homebridge-weather needs to call OpenWeatherMap-API first which is of course slow as it has to go over the internet.
As suggested, the plugin could send back e.g. "0 degrees" and as soon as the network-request is finished the correct value will be visib

[2021-02-22 12:45] martinnock commented on #37
You may look at homebridge-weather-plus - I am not good at reading the code, but from a usability point of view, the plugin populates 0 initially, then updates with values once received.

[2021-02-22 12:50] werthdavid commented on #37
Good point, I did write the code for openweathermap in that plugin as well. Let's see how the error handling takes place there..

[2021-02-22 12:54] werthdavid commented on #37
Okay well it just always shows 0... I don't like that too much as the error is "hidden" but maybe it's still better than always getting that message

[2021-02-22 17:55] dVIAN13 commented on #37
FWIW, after the latest update today, the warning message no longer presents itself after HB startup. 👍

[2021-02-27 16:06] bondskin commented on #37
still existing here:
[27/02/2021, 17:00:10] [homebridge-weather] This plugin slows down Homebridge. The read handler for the characteristic 'Current Relative Humidity' was slow to respond! See https://git.io/JtMGR for more info.

[2021-05-10 19:19] CooperCGN opened #38 "Question regarding polling intervals"
Question: if I use polling, can I specify different intervals for different accessories?

[2021-05-17 05:47] werthdavid commented on #38
For each accessory you define a new "Weather"-block in the config file. So it should be no problem to configure different intervals for each

[2021-06-17 10:10] #38 closed, assigned to nobody

[2022-07-09 08:46] qubiack opened #42 "Max temperature is reduced on evening"
I assume that the idea of creating a forecast Max/Min is a little bit different than Max is working.

For example:
2pm - Acual 26 - Max 28
3pm - Actual 28 - Max 28
5pm - Actual 26 - Max 26
8pm - Actual 24 - Max 24
10pm - Actual 22 - Max 22

Is it any way to have it stable and keep Max the whole day as 28?

[2022-07-11 08:27] #37 closed, assigned to nobody

[2022-07-11 08:33] werthdavid commented on #42
Hmm well as this plugin is using the "hourly forecast 4 days" API and not the "daily forecast 16 days" I fear that this is not possible right away.
An idea would be to set `"pollingInterval": 1440`
Then it would be updated only once per day

[2022-07-25 17:42] qubiack commented on #42
I'm not a HomeKit developer and I never read about the structure and available memory so definitely I don't have knowledge of it and I just guessing.
Maybe it will be possible to compare today's max temperature with some cache and update it only if the new is higher than the previous one until the end of the day (just as an option to max temperature). It will be also a good feature for the min tem

[2022-10-16 06:14] bpratt107 opened #43 "This plugin slows down Homebridge"
-Current setup is running on an rPi4, 4GB ram,
homebridge-weather v1.13.1
homebridge-config-ui-x v4.50.1
-Homebridge weather is not running on it's own child-bridge (can't seem to this anyways?)
-Looks like relative humidity doesn't respond at all currently.

Homebridge Logs
[15/10/2022, 19:02:38] [homebridge-weather] This plugin slows down Homebridge. The read handler for the characteristic 'Curr

[2022-10-17 06:13] werthdavid commented on #43
Just to be sure...
Can you open this URL in your Browser with your API Key?
https://api.openweathermap.org/data/2.5/weather?lat=44.34&lon=10.99&appid=<<YOURAPPID>>
What does it say?

[2022-11-12 08:21] tthma opened #44 "Fetch Temperature 30 log by second"
Hy

the log "fetch temerature and humidity" show in homebridge increase with time.

at startup its show 1 or tow log by 10minutes.
With more day to run its show log 30 times by seconds and slow dowon homebridge update accessory.

[2022-11-15 07:28] werthdavid commented on #44
Oh wow.. Can you paste your config?

[2022-11-15 08:20] tthma commented on #44
{
            "accessory": "Weather",
            "apikey": "**",
            "name": "Exterrieur",
            "locationByCoordinates": "**",
            "showHumidity": true,
            "showTemperature": true,
            "type": "current",
            "pollingInterval": 10,
            "enableHistory": true
        },

[2022-11-15 10:16] werthdavid commented on #44
Thanks. Looks normal... Can you also provide your log-file if there is no sensitive information?

[2022-11-15 10:44] tthma commented on #44
Ok i Reinstall plugin and i let it turn for long so after i can send you log

[2022-11-15 10:47] tthma commented on #44
`[15/11/2022, 11:45:52] [Exterrieur] Fetched temperature value 11.43deg of type 'current' for accessory Exterrieur
[15/11/2022, 11:45:52] [Exterrieur] Fetched humidity value 79% of type 'current' for accessory Exterrieur
[15/11/2022, 11:45:52] [Exterrieur] Fetched humidity value 79% of type 'current' for accessory Exterrieur
[15/11/2022, 11:45:53] [Exterrieur] Fetched temperature value 11.43deg of

[2022-11-17 11:08] werthdavid commented on #44
I see. There should be only 1 call every 10 mins. What version of Homebridge is in use?

[2022-11-17 16:17] tthma commented on #44
Version de Node.js | v16.14.0
Homebridge `[v1.5.0]`

[code]
Some log in my homebridge.
Can I start your plugin in VsCode for check why is loop ?

[2022-11-17 17:36] werthdavid commented on #44
Sure, it's no rocket science! Can you also provide Log with Debug-Level? I'm not sure if this plugin is a problem because it keeps the data in a cache so in case it gets requested a few times in row it should only return the cached value. Still there seems to be something fishy...